<div class="clear"></div>
<div class="grid_16">
    <div class="clear"></div>
    <div class="box" >
        <h2>Portada</h2>
        <div id="banner-image">
            <?php echo $this->Html->image('banner.jpg', array('alt' => 'Banner')); ?>
        </div>
    </div>
    <div class="clear"></div>
</div>


